<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        div.nav-pills-left {
            background-color: #f8f8f8;
        }

            div.nav-pills-left ul li {
                border-bottom: 0.8px solid #e7e7e7;
                margin-top: 0;
            }

                div.nav-pills-left ul li span {
                    margin-right: 5px;
                }

        .nav-pills > li > a {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div style="width: 100%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Book Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li>@Html.ActionLink("Authors", "Index", "Authors")</li>
                        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                        <li>@Html.ActionLink("Publishers", "Index", "Publishers")</li>
                        <li>@Html.ActionLink("Books", "Index", "Books")</li>
                        <li>@Html.ActionLink("Log out", "Logout", "Admin")</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#">
                            <span class="glyphicon glyphicon-envelope">
                            </span> <span class="caret" style="position: relative; bottom: 2px;"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span class="glyphicon glyphicon-tasks"></span>
                            <span class="caret" style="position: relative; bottom: 2px;"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span class="glyphicon glyphicon-bell"></span>
                            <span class="caret" style="position: relative; bottom: 2px;"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        @*<a href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user" style="color: #428bca;"></span><span class="caret" style="position: relative; bottom: 2px;"></span>
                            </a>*@
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="caret" style="position: relative; bottom: 2px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Logout", "Admin")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="display: flex; min-height: 100vh;">
        <div class="col-md-2 nav-pills-left" style="padding-right: 0;">
            <ul class="nav nav-pills nav-stacked">
                <li style="padding: 10px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                <li><a href="@Url.Action("Index", "Categories")"><span class="glyphicon glyphicon-list-alt"></span> Danh mục sách</a></li>
                <li><a href="@Url.Action("Index", "Authors")"><span class="glyphicon glyphicon-list-alt"></span> Quản lý tác giả</a></li>
                <li><a href="@Url.Action("Index", "Publishers")"><span class="glyphicon glyphicon-list-alt"></span> Quản lý nhà xuất bản</a></li>
                <li><a href="@Url.Action("Index", "Books")"><span class="glyphicon glyphicon-list-alt"></span> Quản lý sách</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
